// Add your custom CSS here.
.product__name {
    font-size: 24px !important;
}
.product-card__name {
  -webkit-line-clamp: 4 !important;
    --max-lines: 4 !important;
}
.cart-item__name a {
  -webkit-line-clamp: 1 !important;
    --max-lines: 1 !important;
}
.menu__item-icon img {
    object-fit: none;
    object-position: -2px 0;
    width: 35px;
    height: 35px;
    transition: all 0.5s ease;
  }
  .menu__item-icon {
    height: 35px;
    width: 35px !important;
  }
  .menu__item-icon img {
    &:hover {
        object-position: -2px 100%;
      }
  }
  .header__nav div a:hover .menu__item-icon img {
    object-position: -2px 100%;
  }
  
  .header__nav--full div:not(:first-child) .header__submenu {
    margin-left: -240px;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
  }
  .header__nav--full div:not(:first-child) .header__submenu::after {
    left: 240px;
  }
  .header__nav {
    font-size: 0.75rem;
  }
  .header__submenu {
    margin-top: 0rem;
    background-color: #fff;
    &::after {
        background: none;
    }
    /* max-width: 100%;
    width: 80%; */
    * {
        color: #003d73;
        text-decoration: none !important;
        font-size: var(--font-size-sm) !important
    }
    
  }
  .header__submenu {
    max-width: 100%;
    width: 80%;
    div > a:first-child {
        width: 100%;
        h3 {
            color: #00315c;
            //text-transform: uppercase;
            background: #eee;
            padding: 10px 0 6px 11px;
            border-radius: 0;
            font-weight: bold;
        }
        h4 {
          color: #00589b;
          //text-transform: uppercase;
        }   
    }
  }
  .subcategory {
    
  }
  #s-portas_, #s-parafusos-e-buchas_, #s-silicones-e-selantes_, #s-mantas-e-impermeabilizantes_ {
    grid-template-columns: repeat(auto-fit,minmax(50%,1fr)) !important;
  }
  .header__submenu-subcategory {
    &:hover {
        background: #003e72;
        border-radius: 0;
        padding: 7px 12px;
        * {
            color: #fff !important;
        }
      }
  }
  #menu-desk {
    background-image: url('/img/uploads/header-background.png');
  }
  #header, .header__container {
    padding: 0;
    margin-bottom: 0;
    border-bottom-color: #38e5cf;
  }
  .header__row {
    padding: var(--spacer-2) var(--spacer-4);
  }
  /* #cd-telas-mosquiteiras\/ {
    background: url(https://ecoms1.com/51266/@v3/1658338760585-telas.png) left top no-repeat;
  }
  #cd-divisorias-e-forros\/ {
    background: url(https://ecoms1.com/51266/@v3/1658338699561-forros.png) left top no-repeat;
  }
  #cd-mantas-e-impermeabilizantes\/ {
    background: url(https://ecoms1.com/51266/@v3/1658339318950-mantas.png) left top no-repeat;
  }
  #cd-portas\/ {
    background: url(https://ecoms1.com/51266/@v3/1658338807035-portas.png) left top no-repeat;
  }
  #cd-silicones-e-selantes\/ {
    background: url(https://ecoms1.com/51266/@v3/1658338854926-silicones.png) left top no-repeat;
  }
  #cd-parafusos-e-buchas\/ {
    background: url(https://ecoms1.com/51266/@v3/1658339158874-parafusos.png) left top no-repeat;
  } */
  
  .header__category {
    color: #fff;
    &:hover {
        background: none;
        color: #38e5cf;
    }
  }

  /* @media (min-width: 992px) {
    .menu__item-icon {
        width: auto;
        height: 40px;
        margin-right: 0px;
        text-align: center;
      }
  } */
  #busca-car {
    width: 100%;
    position: relative;
    height: 120px;
    background: #f47925;
    padding-top: 25px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .box-busca-car {
    padding: 10px;
    margin-left: 8px;
    float: left;
    margin-top: -9px;
  }
  .busca-title {
    line-height: 27px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 21px;
    letter-spacing: -1px;
    padding-top: 6px;
  }
  .box-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 69px;
    background: url(/img/uploads/input1.png) no-repeat left center;
    border: none;
    color: #f47925;
    position: relative;
    border-radius: 5px;
    width: 314px;
    padding-left: 71px;
    font-weight: 600;
    font-size: 14px;
  }
  .box2 {
    background: url(/img/uploads/input2.png) no-repeat left center;
  }
  .i-phone::before {
    content: url(/img/uploads/phonee.png);
    /* position: absolute;
    top: 6.5px;
    left: 43.5%; */
    padding-right: 5px;
  }
  .top-bar__contacts-container {
    display: flex;
    align-items: center;
    a {
      display: inline-flex;
    }
  }
  .i-email::before {
    content: url(/img/uploads/mail.png);
    padding-right: 5px;
    /* position: absolute;
    top: 6.5px;
    left: 10px; */
  }
  .m-left-120 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #003d73;
    float: right;
  }
  .top-bar__contacts-container a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
  }
  #user-button .i-user {
    color: #1b69a9
  }
  #user-button:after {
    content: "Minha Conta";
    @media(max-width: 767px) {
      left: -30px;
    }
    left: 0;
    font-size: 11px;
    position: absolute;
    top: 37px;
    width: 90px;
  }
  #rastrear-pedido:after {
    content: "Rastrear Pedido";
    font-size: 11px;
    position: absolute;
    top: 37px;
    left: 0px;
    width: 120px;
  }
  #fale-conosco:after {
    content: "Fale Conosco";
    font-size: 11px;
    position: absolute;
    top: 37px;
    left: 0px;
  }
  #cart-button {
    @media(min-width: 992px) {
      border-left: 1px solid #ccc;
      border-radius: 0;
    }
    i::before {
      content: url(/img/uploads/cart-new.png);
    }
  } 
  .header__row, .top-bar {
    background-color: #e6edf5;
  }
  .header__container {
    margin-top: 0;
    max-width: 100%;
    border-top: 2px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #083C6A , #0F528B, #3F586F);;  
  }
  
  #socials {
    @media(max-width: 767px) {
      display: none;
    }
    order: 12;
  }
  @media(min-width: 992px) {
    .header__buttons {
      display: flex;
    }
    .order-lg-last.col-auto.p-0 {
      border-left: 1px solid #ccc;
    }
  }
  .i-facebook::before {
    content: url(/img/uploads/face-top1.png)
  }
  .i-youtube::before {
    content: url(/img/uploads/you-top1.png)
  }
  .i-instagram::before {
    content: url(/img/uploads/insta-top.png);
  }
  @media(max-width: 767px) {
    .ico {
      display: none;
    }
  }
  .i-rastrear::before {
    content: url(/img/uploads/rastrear.png);
  }
  .i-user::before {
    content: url(/img/uploads/entrar.png);
  }
  .i-fale::before {
    content: url(/img/uploads/fale-conosco.png);
  }
  .form-rastreio {
    background: #fff;
    border: solid 1px #d4d5d6;
    position: absolute;
    top: 87%;
    z-index: 999;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    min-width: 308px;
    min-height: 135px;
    box-sizing: border-box;
    padding: 10px;
    opacity: 0;
    display: none;
  }
  .form-rastreio span {
    color: #003d73;
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin: 10px 0;
  }
  .form-rastreio .wrap {
    position: relative;
    margin: 10px 0;
  }
  #fale.wrapper {
    z-index: 999;
    color: #312655;
    cursor: help;
    position: absolute;
    text-align: center;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    top: 87%;
    padding-top: 26px;
    display: none;
  }
  
  #fale .tooltip {
    background: #ededed;
    text-align: center;
    top: 110%;
    left: -123px;
    font-size: 14px;
    color: #d7b29c;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }
  #fale .tooltip::before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
.telefone {

    font-size: 14px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
    color: #0a457f;
}
.num {
  display: block;
  margin-top: -12px;
  font-size: 16px;
  color: #2694ee;
  font-weight: 700;
}
.divider {
  height: 0;
  margin: 9px 1px;
  overflow: hidden;
  border-bottom: 1px solid #5a5a5a;
}
.emailt {
  margin-top: 0;
  font-size: 15px;
  color: #0a457f;
  font-weight: 700;
}
.emailp {
  font-size: 12px;
  font-weight: 400;
  color: #1b69a9;
  padding: 0;
  margin-top: -6px;
}
.duvidas {
  margin-top: 0;
  font-size: 15px;
  color: #0a457f;
  font-weight: 700;
}
.faleconoscotop a {
  font-size: 17px;
  font-weight: 700;
  color: #2694ee;
  padding: 0;
  margin-top: -11px;
}

#fale .tooltip::after {

  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #ededed 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 66%;
  margin-left: 14px;
  position: absolute;
  width: 0;

}
  #rastrear-pedido:hover + a + .form-rastreio, #fale-conosco:hover + .form-rastreio + #fale {
    display: block;
    opacity: 1;
  }
  .form-rastreio:hover, #fale:hover {
    display: block;
  }
  /* #rastrear-pedido:not(:hover) + a + .form-rastreio {
    visibility: hidden;
    opacity: 1;
    transition: visibility 2s;
  } */
  .form-rastreio button {
    position: absolute;
    right: 10px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    padding: 0;
    background: 0 0;
    color: #2796f2;
    border: none;
  }
  @media(min-width: 992px) {
    #user-button {
      width: 90px;
    }
    #rastrear-pedido {
      width: 120px;
      cursor: pointer;
    }
    #fale-conosco {
      width: 90px;
      cursor: help;
    }
  }
  //atacado
  .atacado-top {
    background:url(/img/uploads/atacado-bg-top.jpg) no-repeat center top;
    padding-top:115px
   }
   .atacado-top h3 {
    font-size:41px;
    font-weight:700;
    color:#6bdfcb;
    line-height:19px;
    font-family:montserrat
   }
   .atacado-top span {
    font-size:16px;
    color:#fff;
    font-weight:400
   }
   .atacado-top h5 {
    font-size:16px;
    color:#fff;
    font-weight:400;
    line-height:55px
   }
   .atacado-beneficios {
    position:relative;
    margin-top:240px;
    display:block
   }
   .atacado-beneficios h3 {
    font-size:42px;
    font-weight:700;
    color:#003e72;
    line-height:19px;
    margin-bottom:57px
   }
   .atacado-box {
    width:26%;
    float:left;
    background:#e7e7e7;
    border:solid 1px #d8d8d8;
    height:250px;
    text-align:center;
    padding:33px;
    margin:0
   }
   .atacado-box strong {
    font-size:15px;
    text-transform:uppercase;
    color:#003e72
   }
   .atacado-box p {
    margin-top:10px
   }
   .atacado-box:nth-child(3) {
    margin:0% 11% 0% 11%
   }
   .atacado-center {
    background:url(/img/uploads/atacado-bg.jpg) no-repeat center top;
    margin-top:350px;
    padding-top:189px
   }
   .atacado-box p {
    font-size: 13px;
   }
   .atacado-center .container {
    background:rgba(255,255,255,.8)
   }
   .atacado-center h2 {
    font-size:41px;
    font-weight:700;
    color:#6bdfcb;
    line-height:19px;
    font-family:montserrat;
    text-transform:uppercase;
    text-shadow:1px 1px 3px #000;
    margin-top:-100px
   }
   .atacado-img {
    float:left
   }
   .atacado-tex {
    float:left;
    width:63%;
    text-align:justify;
    line-height:15px;
    padding:18px;
    margin-top:151px
   }
   .atacado-redes {
    float:right;
    font-size:14px;
    color:#6bdfcb;
    font-weight:700;
    margin-top:-3px
   }
   .atacado-left-img {
    display:none
   }
   .atacado-produtos {
    height:610px;
    background:url(/img/uploads/atacado-blue.png) no-repeat center right;
    margin-bottom:-40px
   }
   .atacado-tex h5 {
    color:#fff
   }
   .atacado-tex strong {
    color:#6bdfcb;
    font-size:22px
   }
   .atacado-tex p {
    color:#fff;
    font-size:13px;
    min-height:200px
   }
   .atacado-left {
    background:url(/img/uploads/atacado-blue.png) no-repeat center left
   }
   .atacado-left .atacado-img {
    width:36%
   }
   @media (max-width:1199px) and (min-width:993px) {
    .atacado-tex {
     width:62%!important;
     padding:17px!important
    }
    .atacado-img {
     width:38%;
     margin-top:68px
    }
    .atacado-tex p {
     font-size:11.5px!important
    }
    .atacado-produtos {
     margin-bottom:-90px!important
    }
   }
   @media only screen and (max-width:767px) {
    .atacado-top {
     text-align:center
    }
    .atacado-top h3 {
     line-height:36px
    }
    .atacado-top span {
     line-height:0
    }
    .atacado-top h5 {
     line-height:35px
    }
    .atacado-beneficios {
     margin-top:130px
    }
    .atacado-box {
     width:100%;
     margin:0 0 30px 0 !Important
    }
    .atacado-center {
     text-align:center
    }
    .atacado-img {
     width:100%
    }
    .atacado-left .atacado-img {
     display:none
    }
    .atacado-left-img {
     display:block!important;
     width:100%!important
    }
    .atacado-produtos,
    .atacado-left {
     background:none
    }
    .atacado-page {
     margin-top:-10px
    }
    .atacado-tex {
     width:100%;
     background:#0c4779;
     margin-top:11px;
     margin-bottom:30px
    }
    .atacado-center h2 {
     line-height:38px
    }
   }
   /* .descontos-home {
    background: url(//cdn.ecvol.com/s/disfoil.e-com.club/uploads/descontos1.png) no-repeat center top !important;
    height: 124px;
    margin-top: -60px;
  } */

  .products-carousel__title {
    padding: 0;
    position: relative;
    text-align: start;
    &::before {
      background: none;
    }
    background: url(/img/uploads/tarja-produtos.jpg) no-repeat left top;
    height: 110px;
    padding: 22px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #003e72;
    font-size: 27px;
    margin-bottom: -30px !important;
    span, a {
      background: none !important;
    }
  }
  .products-carousel__item:hover {
    border: solid 2px #003d73;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    .product-card__buy.fade {
      opacity: 1 !important;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16.5px;
      font-weight: 500;
      text-align: center;
      padding: 10px 0px;
      width: 80%;
      background-color: #079C00 !important;
      button {
        background-color: #079C00 !important;
        border-color: #079C00 !important;
      }
    }
  }
  .product-card__buy button, .minicart__btn-checkout, .product__buy button.btn.btn-lg.btn-primary {
    background-color: #079C00 !important;
    border-color: #079C00 !important;
  }
  .product-item {
    text-align: center;
  }
  #ws_icon_chat {
    position: fixed;
    bottom: 120px;
    right: 5px;
    width: 76px;
    z-index: 2000;
    cursor: pointer;
    outline: none !important;
    img {
      max-width: 100%;
    }
  }
  .prices.product-card__prices {
    .prices__value {
      display: none;
    }
    .prices__value + span {
      display: flex;
      flex-direction: column;
      .prices__discount {
        order: -1;
        display: flex;
        flex-direction: column;
        color: #1b69a9;
        span {
          font-size: 28px;
          font-weight: 700;
        }
      }
    }
    .prices__installments {
      background: url(/img/uploads/parcelamento-01.jpg) no-repeat left top !Important;
      padding: 11px 0 9px 38px !important;
      color: #fff;
      span {
        &::after {
          content: " sem juros";
        }
        &::before {
          content: " de ";
        }
      }
    }
  }
  #new-box {
    background: url(/img/uploads/sobre-nos.jpg) no-repeat center top;
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }
  #new-cinza {
    width: 100%;
    height: 650px;
    background: #eaeaea;
    margin-top: -663px;
    position: absolute;
    display: none;
  }
  .sobre-title {
    text-align: center;
    padding-bottom: 50px;
    img {
      max-width: 100%;
    }
  }
  .sobre-text {
    width: 47%;
    float: left;
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    padding-top: 38px;
  }
  .video-home {
    width: 47%;
    float: right;
    img {
      max-width: 100%;
    }
  }
  .redes-sociais-footer {
    background: url(/img/uploads/bg-redes.jpg) no-repeat center bottom;
    display: table;
    width: 100%;
    padding-bottom: 70px;
    text-align: center;
  }
  .redes-sociais-footer .col-sm-6 {
    width: 40%;
  }
  .redes-sociais-footer .b-r {
    float: right;
  }
  .redes-sociais-footer .titulo {
    margin-bottom: 20px;
  }
  .barra-home {
    width: 100%;
    //margin-top: -617px;
    z-index: 99;
    position: relative;
  }
  .mobilee {
    display: none;
  }
  .mais-videos {
    width: 160px;
    background: #003d73;
    border-radius: 6px;
    text-align: center;
    padding: 11px;
    color: #fff;
  }
  .products-carousel[data-title="Destaques"] .glide__track {
    justify-content: flex-end;
    .glide__arrow {
      display: none;
    }
  }
  .barra-home {
    text-align: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .page--pages\/atacados-disfoil .custom-html .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .atacado-page .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media(max-width: 767px) {
    .new-box .new-cinza + .container {
      display: flex;
      flex-direction: column;
      .sobre-text, .video-home {
        width: 100%;
      }
    }
    #search-bar {
      display: block !important;
    }
  }
  @media(max-width: 767px) {
    .mobilee {
      display: block !important;
    }
    .barra-video + iframe {
      display: none;
    }
    .prices.product-card__prices .prices__installments {
      font-size: 1.2rem;
    }
    .prices.product-card__prices .prices__installments * {
      font-size: 9px !important;
      display: inline-block;
        width: 50%;
    }
    
    #new-box {
      background-color: #eaeaea;
      .container {
        .sobre-text, .video-home {
          width: 100%;
        }
      }
    }
  }
  #c-6286dc60df4d8071c9166460, #c-6286dc61df4d8071c9166466, #c-6303f1ad225fcd0d801a8ccd {
    display: none !important;
  }
  @media(min-width: 767px) {
    .shipping-calculator__option .shipping-line {
      max-width: 50% !important;
    }
  }
  .product-card.search-engine__item .prices.product-card__prices .prices__installments {
    //font-size: 1.2rem;
    text-align: right;
  }
  .search-engine__item.product-card--small .prices.product-card__prices .prices__installments {
    font-size: .75rem;
  }
#page-categories:not(.__mantas-e-impermeabilizantes_,.__mantas,.__manta-termica-1-face_,.__passarinheira-para-telhado_,.__manta-asfaltica-adesiva_,.__fixador-primer-fita-para-telhado_,.__manta-termica-2-faces_,.__manta-asfaltica-aplicacao-macarico_) #busca-car {
  display: none;
}
@media(max-width: 767px) {
  #page-categories .responsive-baner {
    display: none;
  }
}